.banner {
    width: auto;
    height: 8em;
    margin: auto;
    padding: 0.5em;
    background-color: #9D8189;
    display: flex;
    flex-direction: row;
    position: relative;
}

.logo {
    width: 8em;
    height: 5em;
    margin-left: 12em;
    background-color: aliceblue;
}

.inicio {
    width: 90em;
    height: 5em;
    margin: auto;
    margin-right: 10em;
}

.desplegable {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 10em;
}

a {
    color: #C997A0;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

a:hover {
    color: white;
    transition: 0.5s
}

.area {
    width: 15em;
    height: 4em;
    text-align: center;
    margin-left: 1em;
    padding: 1.5em;
    color: #C997A0;
    font-size: 1.2em;
    font-family: 'Press Start 2P', cursive;
}

.area:hover {
    color:white;
    transition:0.2s;
}

.aread {
    width: 15em;
    height: 4em;
    text-align: center;
    margin-left: 1em;
    padding: 1.5em;
    color: #C997A0;
    font-size: 1.2em;
    font-family: 'Press Start 2P', cursive;
}

.aread:hover {
    color:white;
    transition:0.2s;
}

.archivos {
    width: 12.5em;
    height: 16em;
    margin: auto;
    background-color: #9D8189;
    display: none;
}

.aarchivos {
    font-family: 'Gugi', cursive;
}

.archivos li{
    width: 12em;
    height: 4em;
    margin: auto;
    padding: 0.5em;
    color: #C997A0;
}

.aread:hover .archivos{
    display: block;
    list-style: none;
    transition: 1s;
}

footer {
    width: auto;
    height: auto;
    padding: 3em;
    margin-top: 5em;
    background-color: #9D8189;
}

.pinfo {
    width: 130em;
    height:auto;
    padding: 1.5em;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.ipart {
    width: 50em;
    height: 15em;
    margin: auto;
    padding-left: 2em;
    border-left: 0.3em solid white;
}

.ipart p {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-family: 'Press Start 2P', cursive;
    color: #C997A0;
}

.m {
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    color: #C997A0;
}

.m:hover {
    color: white;
    transition: 1s;
}

.links {
    display: flex;
    flex-direction: row;
}

.ilinks {
    width: 5em;
    height: 5em;
    margin: auto;
    margin-bottom: 1.5em;
}

.ilinks img {
    width: 5em;
    height: auto;
}