/****************************************
#       CONFIGURACION RESPONSIVE        *
****************************************/

@media only screen and (max-width:1440px) {
    header{
        width: 100%;
    }
    
    .bgrnd {
        width: 90%;
        height: auto;
        margin-bottom: 3em;
    }
    
    .row {
        width: auto;
        margin: auto;
    }
    
    .box{
        margin: auto;
        width: 6em;
        height: 6em;
        margin: 1em;
    }
    
    footer{
        width: 100%;
    }
}

@media only screen and (max-width:1366px) {
    header{
        width: 100%;
    }
    
    .bgrnd {
        width: 90%;
        height: auto;
        margin-bottom: 3em;
    }
    
    .row {
        width: auto;
        margin: auto;
    }
    
    .box{
        margin: auto;
        width: 14em;
        height: 14em;
        margin: 1em;
    }
    
    footer{
        width: 100%;
    }
}

@media only screen and (max-width:1024px) {
    header{
        width: 100%;
    }
    
    .bgrnd {
        width: 90%;
        height: auto;
        margin-bottom: 3em;
    }
    
    .row {
        width: auto;
        margin: auto;
    }
    
    .box{
        margin: auto;
        width: 10em;
        height: 10em;
        margin: 1em;
    }
    
    footer{
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    header{
        width: 100%;
    }
    
    .bgrnd {
        width: 90%;
        height: auto;
        margin-bottom: 3em;
    }
    
    .row {
        width: auto;
        margin: auto;
    }
    
    .box{
        margin: auto;
        width: 10em;
        height: 10em;
        margin: 1em;
    }
    
    footer{
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    header{
        width: 100%;
    }
    
    footer{
        width: 100%;
    }
}

@media only screen and (max-width:320px) {
    header{
        width: 100%;
    }
    
    footer{
        width: 100%;
    }
}